<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kafka Producer</title>
        <link href="main.css" rel="stylesheet">
        <script crossorigin="anonymous"
                integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
                src="https://unpkg.com/htmx.org@1.9.11"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1>Kafka Consumer</h1>
        <div class="flex-container">
            <form hx-encoding="multipart/form-data" hx-post="/upload" hx-target="#upload-status" hx-trigger="input" id="form">
                <label class="file-upload-button" for="file-upload"><img alt="Choose File" src="assets/document-plus.svg"></label>
                <input accept=".csv" class="hidden" id="file-upload" name="file" type="file">
            </form>
            <div></div>
            <div class="control-group">
                <button id="play-button" class="control-button" hx-post="/play" hx-target=".player-status" hx-swap="innerHTML">
                    <img alt="Play" src="assets/play.svg">
                </button>
                <button id="pause-button" class="control-button" hx-post="/pause" hx-target=".player-status" hx-swap="innerHTML">
                    <img alt="Pause" src="assets/pause.svg">
                </button>
            </div>
        </div>
        <p id="upload-status" class="upload-status">No file loaded. Upload the weather balloon .csv file to get started.</p>
        <div class="player-status">
            <p>
                stop
            </p>
        </div>
        <script>
            document.body.addEventListener('htmx:afterSwap', function (event) {
                var state = event.detail.xhr.responseText;
                var buttons = document.querySelectorAll('.control-button');
                buttons.forEach(function (button) {
                    button.classList.remove('depressed');
                });
                var button = document.getElementById(state + '-button');
                if (button) {
                    button.classList.add('depressed');
                }
            });
        </script>

        <h2>Static Error Chart</h2>
        <div class="chart-container">
            <canvas id="static-error-chart"></canvas>
        </div>
        <script>
            // Create a scatter chart
            var ctx = document.getElementById('static-error-chart').getContext('2d');
            var scatterChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    datasets: [{
                        label: 'Scatter Dataset',
                        data: []
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'linear',
                            position: 'bottom',
                            ticks: {
                                min: 0,
                                max: 2
                            }
                        }

                    }
                }
            });

            // Establish a WebSocket connection
            var socket = new WebSocket("ws://localhost:8081/ws");

            // On receiving a message from the WebSocket
            socket.onmessage = function (event) {
                // Parse the JSON string to get the data
                var data = JSON.parse(event.data);

                // Update the scatterplot with the new data
                scatterChart.data.datasets[0].data.push({
                    x: data.mach,
                    y: data.dppPs
                });
                scatterChart.update();
            };
        </script>

        <h2>Broadcast Messages</h2>
        <div class="server-messages">
        </div>
        <script>
            var socket = new WebSocket("ws://localhost:8081/ws");
            socket.onmessage = function (event) {

                var serverMessages = document.querySelector(".server-messages");
                var log = document.createElement("p");
                log.textContent = event.data;
                serverMessages.appendChild(log);
                serverMessages.scrollTop = serverMessages.scrollHeight;
            };
        </script>
        <p>These are copies of the messages received from the Kafka broker, as well as status messages about the state of the playback machine.</p>


        <h2>About</h2>
        <p> This page allows you to consume Kafka messages from the Kafka producer and watch "real-time" (simulated) estimates of static error. </p>

        <h2>Kafka Producer</h2>
        <p>
            The Kafka producer app can be found <a href="http://localhost:8080">here</a>. It operates on a different server.
        </p>
    </body>
</html>